/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
config/
js/
composer.lock
composer.json
package-lock.json
.env
.env.backup
.env.example
databese.php
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
