.wrapper {
    height: 100%;
    min-height: 100vh;
    position: relative;
    padding-bottom: 58px;
    box-sizing: border-box;
}

.logoImage {
    height: 58px;
}
.intro-textarea {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
}
.form-group {
    text-align: center;
}
.profile_lavel {
    text-align: center;
}
.edit-body {
    margin: 0 auto;
}
.update-btn {
    text-align: center;
}
.textarea,
.input {
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #ddd;
}
.p-image {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #fff;
    object-fit: cover;
}
.p-edit-image {
    border-radius: 50%;
    border: 1px solid #fff;
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-bottom: 5px;
}
.added-link {
    line-height: 44px;
}
.card-body {
    background-color: #fff;
}
.target-container {
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    padding: 8px;
}
.title-wrapper {
    width: 100%;
    overflow: hidden;
}
.titleArea,
.t-titleArea {
    float: left;
    width: 80%;
}
.btn-area {
    float: right;
    width: 20%;
}
.btn-area,
.copy-btn-area {
    text-align: right;
}
.content-text,
.content-title,
.timeLine-title {
    font-family: "Kosugi", sans-serif;
    text-overflow: ellipsis;
}
.content-text {
    font-size: 14px;
}
.timeLine-url-area,
.url-area {
    word-break: break-word;
    float: left;
}
.timeLine-url {
    text-overflow: ellipsis;
}
.detail_btn {
    display: inline-block;
    font-size: 12px;
    background-color: turquoise;
    padding: 4px;
    color: #fff;
    text-align: right;
    border-radius: 2px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}
.copy_btn {
    display: inline-block;
    font-size: 10px;
    padding: 4px;
    color: #fff;
    background-color: grey;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
}
.hide {
    display: none;
}
.slide-area {
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
}
.body-header {
    text-align: right;
    margin-bottom: 15px;
}
.add-btn a {
    text-decoration: none;
    color: #fff;
}
.add-btn {
    padding: 6px;
    background-color: royalblue;
    border-radius: 4px;
}
.url-add {
    text-align: center;
}
.timeLine-image {
    border-radius: 50%;
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.timeLine-title {
    font-size: 12px;
}
.post-update-btn,
.post-delete-btn {
    border-radius: 4px;
    border: none;
    -webkit-user-select: none;
    opacity: 0.8;
    padding: 8px;
    color: #fff;
    margin-right: 15px;
}
.update-btn-back {
    background-color: #3490dc;
}
.delete-btn-back {
    background-color: #f44336;
}
.post-update-btn:hover,
.post-delete-btn:hover {
    opacity: 1;
}
.delete-btn {
    background-color: tomato;
    border-color: tomato;
    color: #fff;
    margin-top: 5px;
}
.mdl {
    margin-top: 50px;
}
.pagination {
    justify-content: center;
    margin-top: 10px;
}
footer {
    text-align: center;
    padding: 24px;
    opacity: 0.7;
    background: #193278;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer-p {
    all: unset;
    color: #fff;
}
.mdl-area {
    margin: 10px 0 20px 0;
    text-align: center;
}
